
---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">流逝</a>
	<a class="photos-btn active" href="/photos/videos.html">拳击</a>
</div>
<div class="album-header">
	<h1 class="album-title">Top Rank 拳击赛</h1>
	
	  <h2 class="des-title">「  自律给我自由。 」</h2>
	
  </div>
<div class="video-container">
<iframe  src="https://v.qq.com/x/cover/hb24xp47iyfwx4b/u00261gb38m.html" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


